In [1]:
#Importing libraries
import pandas as pd
import numpy as np

In [19]:
#Analysing data from 2008
year_2008 = pd.read_csv(r"C:\Users\jaime\Desktop\Coursework\2008.csv.bz2")
year_2008.head(-5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389207,2008,4,17,4,712.0,720,823.0,844,DL,1203,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389208,2008,4,17,4,934.0,940,1036.0,1050,DL,1203,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389209,2008,4,17,4,739.0,740,951.0,945,DL,1204,...,6.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389210,2008,4,17,4,601.0,600,823.0,819,DL,1205,...,8.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389211,2008,4,17,4,1047.0,1050,1248.0,1252,DL,1206,...,8.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [2]:
#Analysing data from 2007
year_2007= pd.read_csv(r"C:\Users\jaime\Desktop\Coursework\2007.csv.bz2")
year_2007.head(-5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453207,2007,12,15,6,1341.0,1335,1856.0,1855,DL,48,...,8,13,0,NaN,0,0,0,0,0,0
7453208,2007,12,15,6,1646.0,1645,1827.0,1836,DL,49,...,6,13,0,NaN,0,0,0,0,0,0
7453209,2007,12,15,6,729.0,730,918.0,909,DL,55,...,13,16,0,NaN,0,0,0,0,0,0
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0

In [3]:
#Analysing data from 2006
year_2006 = pd.read_csv(r"C:\Users\jaime\Desktop\Coursework\2006.csv.bz2")
year_2006.head(-5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141914,2006,12,29,5,1950.0,1940,2234.0,2234,DL,1672,...,7,14,0,NaN,0,0,0,0,0,0
7141915,2006,12,29,5,1726.0,1730,1854.0,1859,DL,1673,...,10,10,0,NaN,0,0,0,0,0,0
7141916,2006,12,29,5,1151.0,1156,1706.0,1659,DL,1674,...,25,15,0,NaN,0,0,0,0,0,0
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0

In [4]:
#Merging data from 2006 and 2007
dataset = pd.concat([year_2006, year_2007])

In [5]:
dataset.shape

(14595137, 29)

In [6]:
dataset.head(-5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453205,2007,12,15,6,612.0,615,1342.0,1348,DL,46,...,11,21,0,NaN,0,0,0,0,0,0
7453206,2007,12,15,6,1940.0,1855,2153.0,2129,DL,47,...,10,12,0,NaN,0,0,24,0,0,0
7453207,2007,12,15,6,1341.0,1335,1856.0,1855,DL,48,...,8,13,0,NaN,0,0,0,0,0,0
7453208,2007,12,15,6,1646.0,1645,1827.0,1836,DL,49,...,6,13,0,NaN,0,0,0,0,0,0
7453209,2007,12,15,6,729.0,730,918.0,909,DL,55,...,13,16,0,NaN,0,0,0,0,0,0

In [7]:
#Checking the data types
dataset.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

In [8]:
#Checking for duplicated rows
dataset.duplicated().sum()

34

In [9]:
#Removing duplicated rows
dataset = dataset.drop_duplicates()

In [12]:
dataset.isnull().sum()

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                282682
CRSDepTime                  0
ArrTime                316046
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                    22
ActualElapsedTime      316046
CRSElapsedTime            998
AirTime                316046
ArrDelay               316046
DepDelay               282682
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14312420
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [13]:
#Dropping the CancellationCode column
dataset = dataset.drop(columns = 'CancellationCode')

In [10]:
#Analysing the columns with null values further 
print(dataset["DepTime"].max())
print(dataset["ArrTime"].max())

2930.0
2955.0

In [11]:
#Considering the DepTime and ArrTime only until midnight (2400hhmm)
dataset = dataset[(dataset["DepTime"]<2400) & (dataset["ArrTime"]<2400)]

In [16]:
dataset.isnull().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [15]:
#Creating a new column as TotalDelay by adding DepDelay and ArrDelay
dataset['TotalDelay'] = dataset['DepDelay'] + dataset['ArrDelay']

In [16]:
dataset.shape

(14268895, 29)

In [17]:
file_path = 'cleaned_dataset_2006_2007.csv'

In [18]:
dataset.to_csv(file_path, index=False)